@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Header section starts here */
header {
    background-color: #E554731A;
    /* width: 1920px; */
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing>.info {
    width: 708px;
}

.landing>.info>h1 {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.landing>.info>p {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 1.8rem;
}

.landing>.info>img {
    width: 635px;
}

button {
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

/* spacing between sections */
.spacer {
    height: 130px;
}

/* Featured section starts here */
.featured {
    text-align: center;
}

.featured-title {
    width: 594px;
    margin-bottom: 48px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.featured-title>h2 {
    margin-bottom: 24px;
}

.featured>.featured-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img .flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img>.flower-1 {
    background: #a7216226;
}

.featured>.featured-images>.img>.flower-2 {
    background: #0597A026;
    justify-content: center;
}

.img>.flower-3 {
    background: #477D1126;
}
.img>p{
    margin-top: 24px;

}
.img>p>a {
    color: #272727;
    font-size: 24px;
}
/* Services section starts here */
.services{
    height: 329px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2727270D;
}
.services > .service >img{
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}
/* Offers section starts here */
.offers{
    height: 620px;
    background: #E554730D;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.offer{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 594px;
}
.offer > h2{
    margin-bottom: 24px;
}
.offer > h2 > span{
    color: #E55473;
}
.offer > p{
    margin-bottom: 32px;
}
/* Social media section starts here */

/* Latest deals section starts here */
input[type="email"]{
    width: 700px;
    height: 64px;
    background-color: white;
    border: none;
    padding: 20px;
}
.deals{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/Rectangle\ 9.png');
}
.deals > h2{
    margin-bottom: 24px;
}
.deals > p{
    margin-bottom: 24px;
}
.deals .search button{
    margin-left: 10px;
}
/* footer section */
footer{
    height: 450px;
    text-align: center;
    padding-top: 100px;
    color: white;
    background-color: #272727;
}
footer>p{
    margin-bottom: 20px;
}
.shop-name{
    font-size: 48px;
    font-weight: bold;
}
.shop-name>span{
    color: #E55473;
}